<ul class="list-group" *ngIf="!loading && books.length">
  <li class="list-group-item d-flex justify-content-between" *ngFor="let b of books">
    <div>
      <div class="fw-semibold">{{ b.title }}</div>
      <small class="text-muted">{{ b.author }} • {{ b.publishedDate || 'unknown date' }}</small>
    </div>
    <div class="btn-group">
      <a class="btn btn-outline-secondary btn-sm" [routerLink]="['/books', b.id, 'edit']">
        <i class="fa fa-pen"></i> Edit
      </a>
      <button class="btn btn-outline-danger btn-sm" (click)="remove(b)">
        <i class="fa fa-trash"></i> Delete
      </button>
    </div>
  </li>
</ul>
